body,
html {
  margin: 0;
  height: 100%;
}

#header {
  background-image: url("/images/mountain.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#resource-list {
  color: black;
  font-size: 30px;
}

#span-color {
  color: darkred;
  font-weight: bolder;
}

h1 {
  margin-top: 0px;
  text-align: center;
  font-weight: bolder;
  font-family: "Gill Sans";
  font-size: 50px;
  background-color: lightblue;
}
p {
  color: darkblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.hotline-info {
  text-align: center;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hotline-form {
  height: 30px;
}

#results {
  text-align: center;
  font-family: "Times New Roman", "Times", "serif";
  font-weight: bolder;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 45px;
}

.findings {
  text-align: center;
}

#btn {
  height: 30px;
  background-color: lightblue;
}

#btn2 {
  width: 90px;
  height: 25px;
  background-color: lightblue;
}

#contact-form {
  font-size: 2rem;
}

#contact-form h1 {
  color: black;
}

#last-name {
  height: 25px;
}

#first-name {
  height: 25px;
}

#email {
  height: 25px;
}

#email-label {
  font-size: 30px;
  margin-right: 65px;
  font-weight: bold;
}

#fname-label,
#lname-label {
  font-size: 30px;
  font-weight: bold;
}
