body {
  margin: 0;
  background-color: lightcyan;
}

#nav-bar {
  margin-left: 375px;
}

p {
  color: darkblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#hotline-info {
  text-align: center;
}

.first-name,
.last-name,
.email {
  height: 35px;
}

.email-label {
  margin-right: 83px;
}

.lname-label {
  margin-right: 5px;
}

.email-label,
.fname-label,
.lname-label {
  font-weight: bold;
}

.suicide-prevention {
  font-size: 25px;
  font-weight: bolder;
  color: black;
  text-align: center;
}

.substance-abuse {
  font-size: 25px;
  font-weight: bolder;
  color: darkmagenta;
  text-align: center;
}
.domestic-abuse {
  font-size: 25px;
  font-weight: bolder;
  color: darkred;
  text-align: center;
}
.jumbotron {
  background-color: white;
  background-image: url(/images/woman-sad.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  text-align: center;
  height: 250px;
  font-weight: bold;
}

.jumbotron h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: red;
  text-shadow: black 0.1rem 0.1rem 0.1rem;
}

#puzzle-pic {
  border-radius: 55px;
  height: 80px;
}

.fa-phone {
  padding: 5px;
  color: blue;
}

.newsletter-contact-form {
  text-align: center;
  font-size: 2rem;
}

.newsletter-contact-form h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

#fa-envelope {
  color: blue;
}

.phone-num {
  font-size: 20px;
  color: 0;
}

.text-crisis {
  font-size: 20px;
  font-weight: bold;
  color: rgba(182, 21, 231, 0.904);
}

.med-emerg {
  color: red;
  font-weight: 800;
  font-size: 20px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}

#footer p {
  color: white;
}
